<h4>The Participants</h4>
<% @famorg.users.each do |user| %>
  <%= user.name %>
<% end %>

<% if current_user.admin? %>
<h4>Push Button to Assign Santas</h4>
<%= link_to "Assign Them Shits", assign_path, class: "btn" %>
<% else %>
<h4>Your Fate Shall Be Sealed Soon</h4>
<% end %>
