<h1><%= @season.year.strftime('%Y') %> Santa's Little Secret</h1>
<% @season.users.each do |user| %>
  <%= user.name %>
<% end %>


<%= link_to "Add User", new_user_path, class: "btn" if current_user.admin? %>
