<h1>Welcome to Secret Santa, <%= current_user.first_name.titleize %>!</h1>

<p>Next steps are pretty simple ones:</p>
<ol>
  <li>Create a group.</li>
  <li>Invite your friends/family/co-workers to that group.</li>
  <li>Once all have accepted your invitation, you will push the button that randomly assigns everyone their secret santa.</li>
</ol>

<p>Ready to get started?</p>

<h3>Create a group:</h3>

<%= render 'form' %>
