<h1>Welcome to Secret Santa, <%= current_user.first_name.titleize %>!</h1>

Next steps are pretty simple ones:

1) Create a group.
2) Invite your friends/family/co-workers to that group.
3) Once all have accepted your invitation, you will push the button that randomly assigns everyone their secret santa.

Ready to get started?

Great!

1) Create a group:

<%= render 'form' %>
