<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Secret SantApp</h5>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
  <%= link_to "2016", "http://dorton.co", class: "grey-text text-lighten-4" %>
  </div>
</div>
